target: all
multitenancy_enabled: false
server:
  http_listen_port: 9009
  grpc_listen_port: 9095
common:
  storage:
    backend: filesystem
    filesystem:
      dir: /data
blocks_storage:
  backend: filesystem
  filesystem:
    dir: /data/blocks
ingester:
  ring:
    replication_factor: 1
store_gateway:
  sharding_ring:
    replication_factor: 1
compactor:
  data_dir: /tmp/mimir-compactor
  sharding_ring:
    wait_stability_min_duration: 0s
ruler_storage:
  backend: filesystem
  filesystem:
    dir: /data/rules
