server:
  http_listen_port: 3200
  grpc_listen_port: 9096
distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
storage:
  trace:
    backend: local
    local:
      path: /tmp/tempo/blocks
    wal:
      path: /tmp/tempo/wal
query_frontend:
  search:
    enabled: true
