---
name: CD

on:
  schedule:
    - cron: '0 06 * * MON'
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Build Docker images
        run: |
          set -euo pipefail
          mkdir -p images
          packageNames=( caddyDockerImage cronDockerImage faktoryDockerImage grafanaDockerImage lokiDockerImage mimirDockerImage otelCollectorDockerImage portfolioDockerImage postgresqlDockerImage tempoDockerImage ttydDockerImage )
          for package in "${packageNames[@]}"; do
            nix build .#${package} --out-link images/${package}
          done
      - name: Build Docker Compose file
        run: nix build .#dockerCompose --out-link docker_compose.yaml
      - name: Copy artifacts to remote server
        run: echo "TODO"
      - name: Restart Docker Compose on remote server
        run: echo "TODO"
...
