---
name: CI

on:
  pull_request:
    branches: [ "*" ]
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 06 * * MON'
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Build all packages
        run: |
          set -euo pipefail
          mapfile -t packageNames < <(nix eval --json ".#packages.x86_64-linux" | jq -r 'keys[]')
          for package in "${packageNames[@]}"; do
            nix build .#${package} --no-link
          done
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Check flake
        run: nix flake check --impure
...
